[build]
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Явные правила для каждой HTML страницы
[[redirects]]
  from = "/about"
  to = "/about.html"
  status = 200

[[redirects]]
  from = "/authors"
  to = "/authors.html" 
  status = 200

[[redirects]]
  from = "/contacts"
  to = "/contacts.html"
  status = 200

[[redirects]]
  from = "/article"
  to = "/article.html"
  status = 200

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200